# Auto detect text files and perform LF normalization
* text=auto

templates/* linguist-vendored
css/* linguist-vendored
sass/bulma/* linguist-vendored
files/* linguist-vendored
generated/* linguist-vendored
fonts/* linguist-vendored