<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Laurent P. René de Cotret - $title$</title>
        <!-- Style sheets -->
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- Math display -->
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=default">
      </script>
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="/index.html">Laurent P. René de Cotret</a>
            </div>
            <nav>
                <a href="/index.html">Home</a>
                <a href="/media_list.html">Media list</a>
                <a href="/software.html">Software</a>
                <a href="/about.html">About</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main>
            <h1>$title$</h1>

            $body$
        </main>

        <footer>
            <i class="fas fa-envelope"></i> <a href="mailto:laurent.renedecotret@mail.mcgill.ca">e-mail</a>
            |
            <i class="fab fa-github"></i> <a href="https://github.com/LaurentRDC">GitHub</a>
            |
            <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/laurent-p-rené-de-cotret-296b38152/">LinkedIn</a>
            |
            <i class="fab fa-researchgate"></i> <a href="https://www.researchgate.net/profile/Laurent_Rene_De_Cotret">Research Gate</a>
        </footer>
    </body>
</html>
